[Unit]
Description=Tweaks to better livecd usage
Before=mhwd-live.service

[Service]
ExecStart=/usr/bin/livecd-tweaks
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
