Package: biglinux-livecd
Version: 7.0.3-1big5
Depends: bigbashview, dialog, casper
Architecture: all
Maintainer: Bruno Goncalves <biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:7664
Description: Live CD boot options


