Package: biglinux-livecd
Version: 7.0.5-1big4
Depends: bigbashview, dialog, casper
Architecture: all
Maintainer: Bruno Goncalves <biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:3968
Description: Live CD boot options


