Package: biglinux-livecd
Version: 7.0.1-1big4
Depends: bigbashview, dialog
Architecture: all
Maintainer: Bruno Goncalves <biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:204
Description: Live CD boot options


