.u-italic {
  font-style: italic;
}

.ui-widget-content {
    /*border: 1px solid #b3bbc4;*/
    background: #b3bbc4;
    /*border-radius: 15px;*/
}
.ui-progressbar {
    font-family: Lato;
    font-size: 1em;
    height: 1em;
    text-align: left;
    overflow: hidden;
}

.ui-progressbar .ui-progressbar-value {
    /*margin: -1px;*/
    height: 100%;
}

.ui-widget-header {
    /*border: 1px solid #b3bbc4;*/
    background: #2196f3;
    color: #333333;
    font-weight: bold;
    /*border-radius: 15px;*/
}

#progressbar {
    
}

#textprogress {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: Lato;
    margin-top: 0px;
    font-weight: 700;
    font-size: 12px;
    z-index: 2;
    color: white;
    mix-blend-mode: overlay;
    letter-spacing: 0.03em;
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  content: "";
  background: #bec5cd;
  background: -moz-linear-gradient(top, #bec5cd 0%, #818e9f 100%);
  background: -webkit-linear-gradient(top, #bec5cd 0%, #818e9f 100%);
  background: linear-gradient(to bottom, #bec5cd 0%, #818e9f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#bec5cd", endColorstr="#818e9f",GradientType=0 );
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;  
}
.icon64x64 svg {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 250px;
  height: 250px;
  margin: -50px;
  fill: #818e9f;
}

ul {
  display: inline-block;
  padding: 0 0 0 0px; 
  margin: 0; 
  list-style: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
li {
    margin: 0; 
    padding: 0; 
}
li span {
    text-align: center;
    align-items: center;
    align: center;
    justify-content: center;  
}
.collection {
  border: 1px solid #3a6df0;
  border-radius: 15px;
  color: #3a6df0;
  display: inline-block;
  width: 95%;
  padding: 12px;
  margin: 2px;
  font-size: 0.8em;  
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.left {
  display: inline-block; 
  text-align: left;  
  float: left;
  position: relative;
  width: 48%;
  float: left;
  margin-left: 10px;
}
.right {
  display: inline-block; 
  text-align: right; 
  float: right;
  position: relative;
  width: 48%;
  float: left;
}


.container {
  margin: 0 auto;
  padding: 50px 0 50px;
  max-width: 960px;
  width: 100%;
  height:100%;
}
.collection:hover {
  background-color: #1e59f1;
  color: #fff;
}

.collection.is-featured {
  background-color: #3a6df0;
  color: #fff;
}

.collection.is-featured:hover,
.collection.is-featured:active {
  background-color: #1e59f1;
  color: #fff;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 0px;
  margin: 50px;
  position: relative;
  width: 100%; 

  height: 100%;  
  z-index: 10;
}

.calamares-big-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

i {
    float: left;
}


.calamares-big-button {
  border: 1px solid #3a6df0;
  border-radius: 15px;
  color: #3a6df0;
  display: inline-block;
  width: 95%;
  padding: 3px 20px;
  margin: 2px;
  font-size: 1.0em;  
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.calamares-big-button:hover,
.calamares-big-button:focus {
  background-color: #1e59f1;
  color: #fff;
}

.calamares-big-button.is-featured {
  background-color: #3a6df0;
  color: #fff;
}

.calamares-big-button.is-featured:hover,
.calamares-big-button.is-featured:active {
  background-color: #1e59f1;
}
.calamares-big-button span {
  display: flex;
  align-items: center;
}
.calamares-big-button img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.fc-btn,
.endpt {
   background: #fff;
   width: 90px;
   height: 60px;
}

.fc-btn!!:hover,
.endpt:hover {
    background: #1e59f1;
}

#fc-main {
    display: table;
}

.fc-card {
    height: 100vh;
    width: 100vw;
    color: #666;
    min-width: 400px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-size: 1.1em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-duration: 0.3s;
    -moz-animation-delay: 0.2s;
}

nav {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    left: 0px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    background: #1c222c;
    text-align: center;
    align-items: center;
}

.navbutton {
    margin: 15px;
    color: #fff;
    background: none;
    width: 36px;
    height: 36px;
    font-size: 1.5em;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#biglinuxlogo {
    display: block;
    top: -10px;
    width: 80px;
    margin: -25px -20px -10px;
    padding: 0px;   
}

a {
    color: inherit;
    text-decoration: inherit;
}
.centretext {
    text-align: center;
    align-items: center;
    align: center;
}

/* SCROLL BARRA DE ROLAGEM */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4271b6;
  border-radius: 10px;
}
