@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    &:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type="checkbox"] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: 0.6;
          }
        }
      }
    }
  }
  input[type="radio"] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
    }
    &:checked {
      --s: 0.5;
    }
  }
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;

}

.biglinux-card {
  
  list-style: none;
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  /* box-shadow: 0 0.2rem 0.4rem rgba(#000000, 0.2); */
  box-sizing: border-box;
  &:last-child {
    margin-bottom: 0;
  }
}

.biglinux-left-panel {    
  display: block;
  text-align: left;
  align-items: left;
  align: left;
  justify-content: left;  
  text-align: left;
  
  background-color: #282c38;
  border-radius: 10px;
  width: 14rem;
  margin-right: 1rem;
  flex-shrink: 0;
}
.biglinux-left-panel h4 {
  color: #fff;
  margin: 1rem 1rem 0;
}




body {
  margin: 0;
  padding: 0;
  height: 100%;
  content: '';
  background: #bec5cd;
  background: -moz-linear-gradient(top, #bec5cd 0%, #818e9f 100%);
  background: -webkit-linear-gradient(top, #bec5cd 0%,#818e9f 100%);
  background: linear-gradient(to bottom, #bec5cd 0%,#818e9f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bec5cd', endColorstr='#818e9f',GradientType=0 );  
}

#menu a img {
  border: 1px solid #5a6374;
  color: #666;
  text-decoration: none;
  margin: 10px 0 0 0;
  border-radius: 5px;
  box-shadow: 0 0 8px 2px #999;
}
#menu a svg {
  color: #666;
  margin: 0px 0 0 0;
  box-shadow: 0 0 8px 2px #999;
}
#menu a:hover img:hover {
  border: 1px solid #00ffff;
  box-shadow: 0 0 8px 2px #1e59f1;
  color: #1e59f1;
}
#menu a:hover svg:hover {
  box-shadow: 0 0 8px 2px #1e59f1;
  color: #1e59f1;
}

#menu-desktop a img {
  border: 1px solid #1e59f1;
  color: #666;
  text-decoration: none;
}
#menu-desktop a:hover img:hover {
  box-shadow: 0 0 8px 2px #1e59f1;
  color: #385ca2;
}


ul {
  padding: 0 0 0 10px; 
  margin: 0; 
  list-style: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
li {
    margin: 0; 
    padding: 0; 
}
li label {
    display: block;
    margin: 0 0 15px 0; 
    padding:  0 0 0 0; 
}

li img {
    width: 260px;
    text-align: center;
    align-items: center;
    align: center;
    justify-content: center;  
}
li svg {
    border: 1px solid #5a6374;
    width: 300px; 
    height: 130px;
    text-align: center;
    align-items: center;
    align: center;
    justify-content: center;  
}

.page-list {
  display: relative; 
  background-color: #006699;
  margin: 0px auto;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.collection {
  border: 1px solid #3a6df0;
  border-radius: 15px;
  color: #3a6df0;
  display: inline-block;
  width: 95%;
  padding: 12px;
  margin: 2px;
  font-size: 0.8em;  
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.left {
  display: inline-block; 
  text-align: left;  
  float: left;
  position: relative;
  width: 48%;
  float: left;
  margin-left: 10px;
}
.right {
  display: inline-block; 
  text-align: right; 
  float: right;
  position: relative;
  width: 48%;
  float: left;
}

.collection:hover {
  background-color: #1e59f1;
  color: #fff;
}

.collection.is-featured {
  background-color: #3a6df0;
  color: #fff;
}

.collection.is-featured:hover,
.collection.is-featured:active {
  background-color: #1e59f1;
  color: #fff;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 0px;
  margin: 50px;
  position: relative;
  width: 100%; 

  height: 100%;  
  z-index: 10;
}

.calamares-big-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

i {
    float: left;
}


.calamares-big-button {
  border: 1px solid #3a6df0;
  border-radius: 15px;
  color: #3a6df0;
  display: inline-block;
  width: 95%;
  padding: 3px 20px;
  margin: 2px;
  font-size: 1.0em;  
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.calamares-big-button:hover,
.calamares-big-button:focus {
  background-color: #1e59f1;
  color: #fff;
}

.calamares-big-button.is-featured {
  background-color: #3a6df0;
  color: #fff;
}

.calamares-big-button.is-featured:hover,
.calamares-big-button.is-featured:active {
  background-color: #1e59f1;
}
.calamares-big-button span {
  display: flex;
  align-items: center;
}
.calamares-big-button img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.fc-btn,
.endpt {
    cursor: pointer;
    background: #fff;
}

.fc-btn:hover,
.endpt:hover {
    background: #1e59f1;
}

/*button:focus {
    outline: 0;
    border: 1px solid #3a6df0;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

nav button:focus {
    outline: 0;
    border: solid 2px white;
}*/

#fc-main {
    display: block;
}

.fc-card {
    height: 100vh;
    width: 100vw;
    color: #666;
    /*width: 60%;*/
    min-width: 400px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-size: 1.1em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-duration: 0.3s;
    -moz-animation-delay: 0.2s;
}

.wide-card {
    min-width: 800px;
    padding: 15px;
}

hr {
    border: solid 1px #0097a7;
}

nav {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    left: 0px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    background: #1c222c;
    text-align: center;
    align-items: center;
    
}

.navbutton {
    margin: 15px;
    color: #fff;
    background: none;
    width: 36px;
    height: 36px;
    font-size: 1.5em;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;

    /*margin-left: 2.5%;    /*  auto for mobile? */
    /*margin-right: 2.5%;*/
}

/*.navbutton:hover {
    color: #00ffff;
    width: 36px;
    height: 36px;
}*/

#biglinuxlogo {
    display: block;
    top: -10px;
    width: 80px;
    margin: -25px -20px -10px;
    padding: 0px;
    
}

a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
}
.centretext {
    text-align: center;
}
.bold{
    font-weight:bold;
}
.italics{
    font-style: italic;
}
#desc{
    margin-bottom: 5px;
}

#text-keyboard {
    display: none;
    padding: 10px;
    margin: 15px auto 5px auto;
    text-align: center;
    border-radius: 5px;
    width: 200px;
}
#text-language {
    display: none;
    padding: 10px;
    margin: 15px auto 5px auto;
    text-align: center;
    border-radius: 5px;
    width: 200px;
}

/* SCROLL BARRA DE ROLAGEM */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4271b6;
  border-radius: 10px;
}
